<ion-navbar *navbar>
  <ion-title>
    Add Student Information
  </ion-title>
</ion-navbar>

<ion-content style="secondary:darkblue">
  <!--<ion-card>
    <ion-header id="mainHeading"> <!--class="info_heading">
        
        <h2>Add Student Information</h2>
        
        </ion-header>
  </ion-card>-->
  
  <ion-card secondary>
      
      <ion-list>
          
          <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-input type="text"  #firstname floating></ion-input>
              </ion-item>
              
          <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input type="text"  #lastname floating></ion-input>
              </ion-item>   
              
                  
          <ion-item>
              <ion-label placeholder>Date of Birth</ion-label>
              <ion-input type="date" #dateofbirth floating></ion-input>
              </ion-item>
              
          <ion-item>
              <ion-label floating>Gender</ion-label>
              <ion-input type="text"  #gender floating></ion-input>
              </ion-item>   
              
          <ion-item>
              <ion-label floating>City</ion-label>
              <ion-input type="text"  #city floating></ion-input>
              </ion-item>    
              
          <ion-item>
              <ion-label floating>Country</ion-label>
              <ion-input type="text"  #country floating></ion-input>
              </ion-item>     
              
           <ion-item>
              <ion-label floating>Nationality</ion-label>
              <ion-input type="text"  #nationality floating></ion-input>
              </ion-item>
              
         
           <ion-item>
              <ion-label floating>Institute</ion-label>
              <ion-input type="text"  #institute floating></ion-input>
              </ion-item>      
              
              
              <!--Technology Selection-->
              <ion-item>
              <ion-label placeholder>Technology</ion-label>
              <ion-input type="text" #technology floating></ion-input>
              <!--<ion-select (change)="onChange()" floating>-->
               <!--<ion-select #device (change)="onChange(device)" floating>   
                  <ion-option *ngFor="#n of technology" #technology>{{n}}</ion-option>
                  <ion-option *ngFor="#n of technology">{{n}}</ion-option>
                  </ion-select>
              </ion-item>--> 
           
           <!--<ion-item>
              <ion-label placeholder>Technology:</ion-label>
              <ion-input type="text" value="" #technology floating></ion-input>
              </ion-item>-->      
              
           <ion-item>
              <ion-label placeholder>Roll No:</ion-label>
              <ion-input type="text" #rollno floating></ion-input>
              </ion-item>
            
            <!--<ion-item>
              <ion-label placeholder>Semester</ion-label>
              <ion-input type="text" value="" floating></ion-input>
              </ion-item>-->
            
            <ion-item>
              <ion-label placeholder>Admission Date</ion-label>
              <ion-input type="date" #admissionDate floating></ion-input>
              </ion-item>                   
          
      </ion-list>
      
      <!--<ion-card-content>
               <button block secondary (click)="pushData(firstname,lastname,dateofbirth,gender,city,country,nationality,insititute,technology,rollno,admissionDate)">Submit</button>
          </ion-card-content>-->
          
        <ion-card-content>
                 <!--<button block secondary (click)="push_data_2(firstname)">Submit</button>-->
                 <!--<button block secondary (click)="push_data_2(firstname,technology,dateofbirth)">Submit</button>-->
                 <button block secondary (click)="push_data_2(firstname,dateofbirth)">Submit</button>
            </ion-card-content> 
            
             
      
      </ion-card>
</ion-content>
