.home {
  
}

/*ion-card-content > .info_heading
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:darkslateblue;
    text-transform: uppercase;
}*/


#mainHeading > h2
{
    background-color:limegreen;
    padding-top:50px;
    padding-bottom: 50px;
    text-align:center;
}   

#info_title
{
    background-color: firebrick;
    color:white;
}



