.home {
  
}

#About_Description
{
    text-align:center;
    font-weight: bolder;
}

#menu_background
{
    background-color: #689dff;
}

#content_background
{
    background-color: lightgrey;
}

#image_dimensions
{
    height:100;
}
