.home {
  
}

#title_text
{
    color:white;
}

.main_body_background
{
    background-color: lightgrey;
}

#menu_background
{
    background-color: #596687;
}

#ad_title
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:'bold';
}

#car_ad_section
{
    margin-top:10px;
    margin-left:20px;
    border-color: black;
    padding-top:10px;
    padding-bottom:10px;
}